.signup-container{

    background: url(../public/Food_img/indian_food3.jpeg) no-repeat center center fixed;
    background-size:cover;
   
   
}

.sign-form{

    background: rgba(255,255,255,0.3);
    box-shadow: 0 15px 25px rgba(0,0,0,0.8);
}


.login-container{
    background: url(../public/Food_img/indian_food2.jpeg) no-repeat center center fixed;
    background-size:cover;
}


@media screen and (max-width: 768px) {
    .signup-container{
        background: url(../public/Food_img/indian_food4.jpeg) no-repeat center center fixed;
       
    }
    
    .login-container{
        background: url(../public/Food_img/indian_food4.jpeg) no-repeat center center fixed;
        background-size:cover;
    }
    
}